@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
  font-family: 'Deutsch Gothic';
  font-weight: 400;
  src: local('Deutsch Gothic'),
       url(../fonts/deutsch.woff2),
       url(../fonts/deutsch.woff),
       url(../fonts/deutsch.ttf);
}

body {
  margin: 0;
}

#pagina {
  width: 900px;
  margin: auto;
}

.titulo2 {
  font-family: 'Deutsch Gothic', fantasy;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-image: url(../img/bandera-alemania.png);
  min-height: 200px;
  background-size: 900px 200px;
  background-position: center;
  background-repeat: no-repeat;
}
