@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Francois+One);

body {
  background-image: linear-gradient(to bottom, transparent 29%, white 80%), url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

header {
  background-image: url(../img/bandera-alemania.png);
  min-width: 90%;
  min-height: 200px;
  background-size: 900px 200px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pagina {
  width: 900px;
  margin: auto;
}

.imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: red;
}

.navButton {
  background-color: yellow;
  color: white;
  background: #ffdf6d;
  border-radius: 10px;
  border: 2px solid #dda15d;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 20%;
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
}

.navButton:hover {
  background-color: #e8bb63;
  transition-duration: 0.3s;
}


.titulo2 {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 80px;
  text-shadow: -1px -1px 1px yellow;
  font-weight: 600;
  color: yellow;
}

.slider div {
  min-width: 90%;
  height: 400px;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 90%;
  margin-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.descripcion {
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 562px;
    padding: 20px;
    margin: auto;
}

.badge1 {
  margin: auto;
  display: inline;
  width: 200px;
  height: 73px;
}

.badge2 {
  margin: auto;
  display: inline;
  width: 280px;
  height: 100px;
}

section {
  padding: 15px;
  background-size: cover;
  min-height: 60%;
}

#inicio {
  background-color: white;
}

#informacion {
  background-color: white;
}

#descargas {
  background-color: white;
}

#contacto {
  background-color: white;
}

footer {
  background-color: moccasin;
  text-align: center;
  margin: auto;
  padding: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
